<!DOCTYPE html>
<html>

<body th:fragment="inquiryBody">

<!-- 잘못된 접근 시 노출 영역 -->
<div th:replace="/kb/layout/common/body/commonErrorAccess :: commonErrorAccess"></div>

<div class="container">
    <div class='row justify-content-center'>
        <div class='section-inquiry inquiry11   col-xl-12 col-lg-12 col-xs-12 col-sm-12'>

            <!-- 문의 작성 페이지 내에서 뒤로 가기 버튼 -->
            <form role="form" th:action="@{/page/kb/availableCoupon.ux}"
                  enctype="application/x-www-form-urlencoded" name="couponBox" th:method="post">
                <input type="hidden" id="resultText" name="result_text" th:if="${couponInfo != null}"
                       th:value="${couponInfo}">
                <div class='backpage col-12 d-flex justify-content-between align-items-center'>
                    <h2 class='h2Title fw-300'>
                        <a class="nav-link active" aria-current="page" href="javascript:void(0);"
                           onclick="document.forms['couponBox'].submit();">
                            <img src="https://smilecon-img.zlgoon.com/stardream/kb/images/icon_back_24.svg" alt="">
                            1:1 상담
                        </a>
                    </h2>
                </div>
            </form>

            <!-- 문의 작성 영역 -->
            <div class='viewDiv col-12'>
                <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">

                <!-- 문의 타이틀 작성 영역 -->
                <div class='labelDiv d-flex flex-column'>
                    <label for="inquiryTitle" class="fw-300">제목</label>
                    <input id="inquiryTitle" class="fw-bold" name="inquiryTitle" type="text"
                           placeholder='제목을 입력해주세요.'>
                </div>

                <!-- 문의 유형 선택 영역 -->
                <div class='labelDiv d-flex flex-column'>
                    <label for="selectInput" class="fw-300">상담 선택</label>
                    <div class='selectUp d-flex justify-content-between align-items-center'>
                        <input type="text" id="selectInput" data-bs-toggle="offcanvas" name="type"
                               data-bs-target="#offcanvasExample"
                               class="fw-bold"
                               aria-controls="offcanvasExample" placeholder='상담 카테고리를 선택해주세요.' readonly>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>

                <!-- 문의 내용 작성 영역 -->
                <div class='labelDiv d-flex flex-column position-relative'>
                    <label for="inquiryContent" class="fw-300">내용</label>
                    <textarea name="inquiryContent" id="inquiryContent" maxlength="500"
                              placeholder='상세 내용을 입력해주세요.' class="fw-300"
                              rows="8"
                              cols="50"
                              oninput="updateCharCount()"></textarea>
                    <div class="position-absolute" id="charCount">0 / 500</div>
                </div>

                <!-- 문의 작성 확인 모달 동작 버튼 -->
                <button type='button' id="activeInsertInquiryBtn" onclick="insertInquiry()" class='sendInqury fw-300' data-bs-toggle="modal" data-bs-target="#exampleModal">
                    문의하기
                </button>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class='bottomDiv'>
        <div class='footerDiv'>
            <h5>KB스타드림 전용 고객센터</h5>
            <h2 class="fw-bold">1661-8193</h2>
            <h6>평일 09:30~18:00 (점심시간 11:30~13:00)</h6>
            <h6>토, 일, 공휴일 휴무</h6>
        </div>
    </div>

</div>



<!-- 문의 등록 성공 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered inquiryCheckModal">
    </div>
</div>


<!-- 문의 작성 시 유형 선택 캔버스 영역 -->
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-700" id="offcanvasExampleLabel">상담선택</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvasList">

            <!-- 유형 -->
            <ul>
                <li><a class="selectInquiry fw-300" aria-label="Close" data-bs-dismiss="offcanvas" href="#" value="101">쿠폰문의</a></li>
                <li><a class="selectInquiry fw-300" aria-label="Close"  data-bs-dismiss="offcanvas" href="#" value="102">서비스문의</a></li>
                <li><a class="selectInquiry fw-300" aria-label="Close"  data-bs-dismiss="offcanvas" href="#" value="103">기타</a></li>
            </ul>

            <!-- 유형 선택 확인 버튼 -->

        </div>
    </div>
</div>

</body>
</html>