<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="couponDetailScript">
    <script src="https://smilecon-img.zlgoon.com/stardream/common/js/jquery-barcode.js"></script>
    <script src="https://smilecon-img.zlgoon.com/stardream/common/js/html2canvas.min.js"></script>
    <script th:inline="javascript" th:src="@{/kb/js/couponDetail.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
</div>
</html>