<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head><title>1:1 상담 이력 리스트</title></head>
    <head th:insert="/kb/layout/common/body/commonHeader :: commonHeader"></head>
    <th:block th:insert="/kb/layout/common/footer/commonScript :: commonScript"></th:block>
    <th:block th:insert="/kb/layout/inquiry/footer/inquiryHistoryScript :: inquiryHistoryScript"></th:block>
    <body th:insert="/kb/layout/inquiry/body/inquiryHistoryBody :: inquiryHistoryBody"></body>
</html>