<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head><title>쿠폰 선택</title></head>
    <head th:replace="/kb/layout/common/body/commonHeader :: commonHeader" ></head>
    <th:block th:insert="/kb/layout/common/footer/commonScript :: commonScript"></th:block>
    <th:block th:insert="/kb/layout/coupon/footer/selectCouponScript :: selectCouponScript"></th:block>
    <body th:replace="/kb/layout/coupon/body/selectCouponBody :: selectCouponBody" > </body>
</html>